.title {
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 14px;
    text-decoration: none;
    line-height: 1.2;
    display: block;
    color: #343a40d9;
}

.my_text {
    color: #777;
}

.starts {
    color: #0d6efd;
}

.starColor {
    color: #777;
}

.moon {
    font-size: 0.9em;
    color: #777;
}

.title_details {
    margin: 20px 0;
    font-size: 2.2em;
    color: #343a40d9;
}

.logo {
    color: #343a40d9;
}

.notfound {
    font-size: 5em;
    color: #777;
}

.oops {
    color: #777;
    margin-bottom: 20px;
}

.home {
    font-size: 1.2em;
}

.home a {
    text-decoration: none;
    font-weight: bold;
}