.title {
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 14px;
    text-decoration: none;
    line-height: 1.2;
    display: block;
}

.my_text {
    color: #777;
}

.heart {
    color: #0d6efd;
}

.comment {
    color: #0d6efd;
}

.starts {
    color: #0d6efd;
}

.moon {
    font-size: 0.9em;
    color: #777;
}